@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
 *{
margin: 0;
padding: 0;
box-sizing: border-box;
}
nav ul{
    list-style: none;
}
nav{
    background-color: rgb(145, 34, 145);
    color: #fff;
    height: 65px;
    font-size: 27px;
    padding: 0px  12px;
    display: flex;
    align-items: center;
    font-family: "Zalando Sans Expanded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.gameContainer{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.container{ 
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    font-family: "Zalando Sans Expanded", sans-serif;
    cursor: pointer;
    position: relative;

}
.box{
    border: 2px solid black;
    font-size: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;

}
.gameInfo h1{
    font-size: 2.5rem;
}
.box:hover{
    background-color: rgb(235, 221, 247);
}
.gameInfo{
    padding: 0 55px;
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.imgBox img{
    width: 0;
    transition: width 1s ease-in-out;
    margin-top: 20px;
}
.bt-0{
    border-top:0 ;
}
.bb-0{
    border-bottom:0 ;
}
.bl-0{
    border-left:0 ;
}
.br-0{
    border-right:0 ;
}
.line{
    background-color: black;
    height: 3px;
    width:  0;
    position: absolute;
    background-color: blueviolet;
    transition: width 1s ease-in-out;
    transform-origin: left; /* Critical for rotation accuracy */
    z-index: 1; /* Ensures line stays above the boxes */
}
#Reset{
    margin-left: 10px;
    padding-top:10px;
    padding-left: 15px;
    padding-bottom:10px;
    padding-right: 15px;
    font-size: 16px;
    background-color: rgb(173, 79, 173);
    color: white;
    cursor: pointer;
    border-radius: 19px ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder
    
}
.space{
    margin-top: 10px;
}
.Info{
    font-size: 35px;
}
@media screen and (max-width:800px) {
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 30px;
        padding: 0 20px;
    }
    .gameInfo h1{
        font-size: 1.5rem;

    }
    .container{
        grid-template-columns: repeat(3,20vw);
        grid-template-rows: repeat(3,20vw);
    }
    
}